.app__box{
  margin-left: 20px;
  /* display: flex; */
}

.app__heading{
  color: #ffffff;
  font-size: 80px;
  font-weight: 400;
  height: 73px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 321px; 
}